<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3 sec-text">You've Discovered My Secret!</h1>
      <p class="secret-text">Jack Bauer is my hero.</p>
      <hr>
      <%secrets.forEach((item)=>{%>
        <!-- Timer -->

        <% function timeSince(date) {%>
          <%var seconds=Math.floor((new Date() - date) / 1000);%>
            <%var interval=seconds / 31536000;%>

              <%if (interval> 1) {%>
                return Math.floor(interval) + " years";%>
                <%}%>
                  <%interval=seconds / 2592000;%>
                    <%if (interval> 1) {%>
                      <% return Math.floor(interval) + " months" ;%>
                        <%}%>
                          <%interval=seconds / 86400;%>
                            <%if (interval> 1) {%>
                              <% return Math.floor(interval) + " days" ;%>
                                <%}%>
                                  <%interval=seconds / 3600;%>
                                    <%if (interval> 1) {%>
                                      <% return Math.floor(interval) + " hours" ;%>
                                        <%}%>
                                          <%interval=seconds / 60;%>
                                            <%if (interval==1) {%>
                                              <% return Math.floor(interval) + " minute" ;%>
                                                <%}%>
                                                  <%if (interval> 1) {%>
                                                    <% return Math.floor(interval) + " minutes" ;%>
                                                      <%}%>
                                                        <%return Math.floor(seconds) + " seconds" ;%>
                                                                     <%}%>

                                                            <% const fun=timeSince(new Date(item.createdAt));%>
                                                              <p class="secret-text">
                                                                <%= item.secret %>
                                                                  <span style="font-size:1rem;">
                                                                    <%= fun %> ago
                                                                  </span>

                                                                  <div class="secret-edit">
                                                                    <form action="/delete" method="POST">
                                                                      <button type="submit" class="btn" name="delete"
                                                                        value="<%= item._id %>"
                                                                        style="background-color: gold;">Delete</button>

                                                                    </form>
                                                                    <form action="/edit" method="post"
                                                                      class="form-edit">
                                                                      <div class="edit-try">
                                                                        <input name="edit" id="edit-text"
                                                                          class="edit_text"
                                                                          value="<%= item.secret %>...">
                                                                        <button type="submit" class="btn"
                                                                          name="deletebtn" value="<%= item._id %>"
                                                                          style="background-color: gold;">Update</button>
                                                                          <span class="btn close-btn">X</span>
                                                                      </div>
                                                                      <a class="btn btnedit"
                                                                      style="background-color: gold;" href="#">Edit</a>
                                                                      
                                                                    </form>
                                                                   
                                                                  </div>

                                                              </p>
                                                              <hr>
                                                              <%})%>
                                                                <a class="btn btn-light btn-lg" href="/logout"
                                                                  role="button">Log Out</a>
                                                                <a class="btn btn-dark btn-lg" href="/submit"
                                                                  role="button">Submit a Secret</a>
                                                                  
                                                                <!-- <a class="btn btn-dark btn-lg" href="/edit" role="button">Click to Edit Texts</a> -->
    </div>
  </div>

  <script type="text/javascript">
    let editBtn = document.querySelectorAll('.btnedit');
    let editText = document.querySelector('.edit-text');
    let editTry = document.querySelectorAll('.edit-try')
    let xBtn = document.querySelectorAll('.close-btn')

    editBtn.forEach((item) => {
      item.addEventListener('click', function () {
        // console.log(this.previousSibling.classList.add('clicked'))
        this.previousElementSibling.classList.add('show');
      })
    })

    xBtn.forEach((item) => {
      item.addEventListener('click', function () {
        // console.log(this.previousSibling.classList.add('clicked'))
        this.parentNode.classList.remove('show');
      })
    })

  </script>

  <%- include('partials/footer') %>